:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --dark-gray: #A9A9A9;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --crimson: #DC143C;
    --sm: 12px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: var(--dark);
}

nav {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 15px var(--crimson);
    position: relative;
}

nav figure {
    margin: 0;
}

nav figure img {
    width: 230px;
}

.author {
    width: 160px;
    display: flex;
    justify-content: space-between;
    color: var(--very-light-pink);
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: var(--sm);
    margin-right: 15px;
}

.author p:nth-child(1) {
    color: var(--very-light-pink);
    margin: 0 0 3px 0;
}

.author p:nth-child(2) {
    color: var(--very-light-pink);
    margin: 0 0 3px 0;
}

.main-container {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 25px;
}

.content-title {
    color: var(--dark-gray);
    padding: 50px 0 50px;
}

.content-title p:nth-child(1) {
    font-size: var(--lg);
    font-weight: bold;
}

.content-title p:nth-child(2) {
    font-size: var(--md);
    margin-top: 40px;
}

.th-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.th-card {
    width: 200px;
}

.th-card a img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.th-card a img:hover {
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0 0 20px var(--crimson);
    padding: 10px;
}

@media (max-width: 640px) {
    .th-container {
        display: grid;
        grid-template-columns: auto auto;
    }
    .th-card {
        width: 160px;
    }
    .th-card a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}